body{
    font-family: 'Roboto', sans-serif;
}
.header{
    padding: 25px;
    display: flex;
    justify-content: center;
}
button{
    padding: 20px;
    margin: 10px;
    border-style: none;
    background-color: lightblue;
    color: white;
}
button:hover{
    cursor: pointer;
    background-color: grey;
}
.content{
    padding: 15px;
}
.content li{
    background-color: grey;
    padding: 15px;
    margin-bottom: 1px;
    color: white;
}
.content li:hover{
    cursor: pointer;
    background-color: lightblue;
}